.calculator {
    width: 250px;
    height: 350px;
    border: 1px black;
    margin: 100px auto 0;
    text-align: center;
    background-color: coral;
    box-shadow: 0 0 30px grey;
    border-radius: 4px;
}

.calculator__row {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.calculator_form {
    height: 100%;
    padding: 20px;}

.calculator__backspace {
    width: 40px;
}

.calculator__button {
    width: 40px;
    height: 40px;
}

.calculator__clear {
    width: 40px;
}

.calculator__display {
    width: 250px;
    height: 40px;
    text-align: right;
}

.calculator__key {
    text-transform: uppercase;
}

.calculator__power {
    width: 40px;
}

.calculator__key--equal {
    width: 97px;
}